In [17]:
import math
math.sqrt(25)
math.pi
import math as mt
mt.sqrt(25)
import numpy
from numpy import random
import numpy as np
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

print('Hello World')

Hello World

In [18]:
import numpy as np

In [19]:
dataOne = random.rand(5,5)

In [20]:
dataOne

array([[0.56859362, 0.60521182, 0.86594363, 0.32487303, 0.40812123],
       [0.674432  , 0.87271864, 0.50166132, 0.7103596 , 0.66459162],
       [0.67676408, 0.26982877, 0.41996893, 0.1255792 , 0.43800325],
       [0.88529725, 0.13934553, 0.07836444, 0.005234  , 0.21139502],
       [0.09934483, 0.47236725, 0.4649729 , 0.93848552, 0.5666097 ]])

In [21]:
import math

In [22]:
math.sqrt(25)

5.0

In [23]:
math.pi

3.141592653589793

In [24]:
import numpy as np

In [25]:
dataone = random.rand(5,5)

In [26]:
dataone

array([[0.58059637, 0.02778806, 0.31679606, 0.24060363, 0.49977699],
       [0.40604183, 0.35513425, 0.55052334, 0.66922521, 0.77359137],
       [0.33445109, 0.36389742, 0.91127164, 0.014978  , 0.81322558],
       [0.16359079, 0.41389256, 0.59242703, 0.86396547, 0.97498727],
       [0.34873625, 0.14990932, 0.87364099, 0.34126445, 0.32387501]])

In [27]:
np.mean(dataone)

0.47616759730047953

In [135]:
mt.ceil(dataone)

TypeError: only size-1 arrays can be converted to Python scalars

In [29]:
round_off_values = np.around(dataone)

In [30]:
round_off_values

array([[1., 0., 0., 0., 0.],
       [0., 0., 1., 1., 1.],
       [0., 0., 1., 0., 1.],
       [0., 0., 1., 1., 1.],
       [0., 0., 1., 0., 0.]])

In [31]:
summation = np.add(dataone)

ValueError: invalid number of arguments

In [32]:
minvalue = np.minimum(dataone)

ValueError: invalid number of arguments

In [33]:
modifiedarray = np.floor(dataone)

In [34]:
modifiedarray

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [35]:
largearray = np.ceil(dataone)

In [36]:
largearray

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [37]:
minimumvalue = np.min(dataone)

In [38]:
minimumvalue

0.0149779971681534

In [39]:
maxvalue = np.max(dataone)

In [40]:
maxvalue

0.9749872664096813

In [41]:
import scipy as sp

In [42]:
mediannum = sp.median(dataone)

C:\Users\PRESSI\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: scipy.median is deprecated and will be removed in SciPy 2.0.0, use numpy.median instead
  """Entry point for launching an IPython kernel.

In [43]:
mediannum = np.median(dataone)

In [44]:
mediannum

0.4060418250401807

In [45]:
stddev = np.std(dataone)

In [46]:
stddev

0.27047358697107776

In [50]:
print('I Love Data Science')

I Love Data Science

In [51]:
testvariable = 25

testvariable

In [52]:
testvariable

25

In [53]:
variable1 = ' I Love Datascience'

In [54]:
print(variable1)

 I Love Datascience

In [55]:
type(testvariable)

int

In [56]:
varone = 25

In [57]:
vartwo = 25.0

In [58]:
varthree = varone + vartwo

In [59]:
print(varthree)

50.0

In [60]:
varone = 25

In [61]:
vartwo = 'Hello'

In [62]:
varthree = varone + vartwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
varone = 'I love datascience'

In [64]:
vartwo = 'Hello'

In [65]:
varthree = varone+ vartwo

In [66]:
print(varthree)

I love datascienceHello

In [67]:
listone = [1,2,3,4]

In [68]:
print(listone[1:3])

[2, 3]

In [69]:
x = [1,2,3,4,5]

In [70]:
x = {'y':1, 'z':2,'a':3,'b':4,'c':5}

In [74]:
d = 4**5

In [75]:
d

1024

In [76]:
d = pow(4,5)

In [77]:
d

1024

In [78]:
stu = math.gcd(2,3)

In [79]:
stu

1

In [80]:
stu = math.gcd(4,5)

In [81]:
stu

1

In [82]:
sumx = 4+5

In [83]:
sumx

9

In [84]:
x['y']

1

In [85]:
sumx = x['b']+x['c']

In [86]:
sumx

9

In [87]:
product = x['z']*x['a']

In [88]:
product

6

In [93]:
midpoint =5

In [94]:
lower = [];upper = []

In [98]:
for i in range(10):
    if i < midpoint:
        lower.append(i)
    else:
            upper.append(i)
print("lower",lower)
print("upper",upper)

lower [0, 1, 2, 3, 4]
upper [5, 6, 7, 8, 9]

In [99]:
c= 3 + 4j

In [100]:
c.real

3.0

In [101]:
c.imag

4.0

In [102]:
c.conjugate

In [103]:
c.conjugate()

(3-4j)

In [104]:
abs(c)

5.0

In [105]:
message = "what do you like"
response = 'spam'

In [106]:
len(response)

4

In [107]:
response.upper()

'SPAM'

In [108]:
message.capitalize()

'What do you like'

In [109]:
test = message+response

In [110]:
test

'what do you likespam'

In [111]:
result = (4<5)

In [112]:
result

True

In [113]:
L = [2,3,5,7]

In [114]:
len(L)

4

In [115]:
L.append(11)

In [116]:
L

[2, 3, 5, 7, 11]

In [117]:
L+[13,17,19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [118]:
L.sort()

In [119]:
L

[2, 3, 5, 7, 11]

In [120]:
t = (91,2,3,4)

In [121]:
t(len)

TypeError: 'tuple' object is not callable

In [122]:
len(t)

4

In [123]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [124]:
numbers = {'one' :1,'two':2,'three':3}

In [125]:
numbers['two']

2

In [126]:
numbers['twenty'] = 20

In [127]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'twenty': 20}

In [128]:
primes = {2,3,5,7}
odd = {1,3,5,7,9}

In [130]:
primes | odd

{1, 2, 3, 5, 7, 9}

In [131]:
primes & odd

{3, 5, 7}

In [132]:
primes - odd

{2}

In [133]:
primes ^ odd

{1, 2, 9}

##### It was straightforward to install Python and all of the libraries

##### The tutorial was very useful, all under resources and i would recommend to others

##### There are many lessons learned as python is completely new to me.
##### Creating a github account was another learning and linking all my work into one repository is useful.
##### Tried the basic functions and modules for data science in python.

In [136]:
import pandas as pd

In [137]:
import os

In [138]:
df = pd.read_csv("C:/R Studio/Product Preference/existingproductattributes2017.csv")

In [139]:
df.head()

,ProductType,ProductNum,Price,x5StarReviews,x4StarReviews,x3StarReviews,x2StarReviews,x1StarReviews,PositiveServiceReview,NegativeServiceReview,Recommendproduct,BestSellersRank,ShippingWeight,ProductDepth,ProductWidth,ProductHeight,ProfitMargin,Volume
0,PC,101,949.00,3,3,2,0,0,2,0,0.9,1967.0,25.8,23.94,6.62,16.89,0.15,12
1,PC,102,2249.99,2,1,0,0,0,1,0,0.9,4806.0,50.0,35.00,31.75,19.00,0.25,8
2,PC,103,399.00,3,0,0,0,0,1,0,0.9,12076.0,17.4,10.50,8.30,10.20,0.08,12
3,Laptop,104,409.99,49,19,8,3,9,7,8,0.8,109.0,5.7,15.00,9.90,1.30,0.08,196
4,Laptop,105,1079.99,58,31,11,7,36,7,20,0.7,268.0,7.0,12.90,0.30,8.90,0.09,232